.git
.local
.venv
venv
__pycache__
*.pyc
*.pyo

bin
dist
build
google-maps-scraper
food_gmaps_scraper

gmaps-output
images
metadata
raw
queries

node_modules
cache
.cache
playwright-report

*.sql
*.dump
*.backup
places.json
clean_reviews.json
raw_reviews.json
images_metadata.json
commands.txt
